services:
  redis:
    image: redis:alpine
    container_name: cart-redis
    ports:
      - "6379:6379"
    networks:
      - cart-network

  cart-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cart-service
    tty: true
    stdin_open: true
    ports:
      - "8082:8082"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - redis
    networks:
      - cart-network

networks:
  cart-network:
    driver: bridge
